body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.card-text, .card-title, .card-subtitle, .nav-link, .footer-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.card:hover {
    transform: translateY(-3px);
    transition: transform 0.2s ease-in-out;
}

.navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

.scroll-offset {
    scroll-margin-top: 80px;
}

.text-justify {
    text-align: justify;
}

.team-section .card-body,
.advisors-section .card-body {
    text-align: center;
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.profile-pic {
    border-radius: 50%;
    max-width: 120px;
    height: 120px;
    margin: auto;
    display: block;
}

.card-body {
    text-align: center;
}

.card-text {
    text-align: left;
    font-size: 0.9rem;
}

#why-it-matters p,
#technology p {
    text-align: justify;
}

.linkedin-logo {
    width: 24px;
    height: 24px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .profile-pic {
        max-width: 100px;
        height: 100px;
    }
}

.section-title {
    font-family: 'Merriweather', serif;
    font-size: 2.5rem;
    font-weight: bold;
}